.body{
  background-image: url("images/bkgrnd2.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-color:#ffffff;
}

td.menu {
  color: #8cffff;
  text-decoration: underline;
  display: block;
  white-space:nowrap;
  cursor: pointer;
}

td.menu2 {
  color: #ffffff;
  font-weight:bold;
  text-decoration:none;
  display: block;
  cursor: pointer;
}

td.menu3 {
  color: #8cffff;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  white-space:nowrap;
  cursor: pointer;
}

td.alignright{
  text-align:right;
}

td.alignleft{
  text-align:left;
}

td.leftmenu{
  text-align:left;
  cursor: pointer;
}

td.leftmiddle{
  vertical-align:middle;
  text-align:left;
}

td.lefttop{
  text-align:left;
  vertical-align:top;
}

table.aligncenter{
  margin-left:auto;
  margin-right:auto;
  white-space:nowrap;
}

td.aligncenter{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  white-space:nowrap;
}

td.centervertical{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  vertical-align:top;
  white-space:nowrap;
}

td.middleleft{
  vertical-align:middle;
  text-align:left;
}

td.topcenter{
  vertical-align:top;
  text-align:center;
}

td.verticaltop{
  vertical-align:top;
}

td.center33{
  text-align:center;
  width:33%;
  white-space:nowrap;
}

td.center34{
  text-align:center;
  width:34%;
  white-space:nowrap;
}

label.link {
  color: #8cffff;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

a.styledlink:link{
  color: #8cffff;
}

a.styledlink:visited{
  color: #8cffff;
}

a.styledlink:hover{
  color: #8cffff;
}

a.styledlink:active{
  color: #8cffff;
}

.menu4{
  color: #8cffff;
  cursor: pointer;
}

.menu5{
  color: #ffffff;
  cursor: pointer;
}

.imageDisplay
{
	height:90%;
	width:90%;
	display:none;
	margin: auto;
	background-color:lightgrey;
	position: fixed;
    left: 5%;
	top: 5%;
	vertical-align: middle;
	text-align: center;
}

.imageForDisplay {  
    max-height: 95%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.productImages{
	border: 0px;
	max-width: 250px;
	max-height: 150px;
}

.productPage{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.link {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}